.about-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-container h1 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-container p {
    color: #666;
    font-size: 16px;
  }
  .logot{
    display: flex;
    width: 350px;
height: 300px;
margin-right: 35px;
object-fit: contain;
  }
  body{
    text-align: center;
  }
  img{
    margin: 35px;
    position: relative;
    left: 450px;
  }