

.leagues-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.search-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.league-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  background-color: #f9f9f9;
}

.league-item h3 {
  margin-top: 0;
  color: #555;
}

.league-item p {
  margin: 5px 0;
  color: #777;
}

.logo img {
  position: relative;
  right: 650px;
}

.no-results {
  color: #999;
  font-size: 18px;
  margin-top: 20px;
}
img{
  position: relative;
  left: 10px;
  width: 300px;
  height: 350px;
  object-fit: contain;
}